.idea
/data/raw/globalterrorismdb_0221dist.csv
data/interm/globalterrordb.csv
/visualizations/
/data/proccessed/globalterrordb_proccesed.csv
/notebooks/experiments
/mlruns
/notebooks/mlruns
/backup_data
/notebooks/Raport.html
/data/modeling/train.csv
/data/modeling/test.csv
